/*======================= NEW ICONS, NEW STYLES ==================================*/
/* --------------- TWITTER */

.sociality-twitter {
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background:url(icons/social_icons_transp.svg) no-repeat;
}

.sociality-twitter span {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background:url(icons/social_icons_transp.svg) no-repeat;
  background-position: -30px 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition:    opacity 0.5s;
  -o-transition:      opacity 0.5s;
}

.sociality-twitter:hover span {
  opacity: 1;
}

/* --------------- Facebook */

.sociality-facebook {
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background:url(icons/social_icons_transp.svg) no-repeat;
  background-position:0 -180px;
}

.sociality-facebook span {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background:url(icons/social_icons_transp.svg) no-repeat;
  background-position: -30px -180px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition:    opacity 0.5s;
  -o-transition:      opacity 0.5s;
}

.sociality-facebook:hover span {
  opacity: 1;
}

/* --------------- Google plus */

.sociality-google_plus{
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background:url(icons/social_icons_transp.svg) no-repeat;
  background-position:0 -270px;
}

.sociality-google_plus span {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background:url(icons/social_icons_transp.svg) no-repeat;
  background-position: -30px -270px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition:    opacity 0.5s;
  -o-transition:      opacity 0.5s;
}

.sociality-google_plus:hover span {
  opacity: 1;
}

/* --------------- LINKEDIN */

.sociality-linkedin {
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background:url(icons/social_icons_transp.svg) no-repeat;
  background-position:0 -30px;
}

.sociality-linkedin span {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background:url(icons/social_icons_transp.svg) no-repeat;
  background-position: -30px -30px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition:    opacity 0.5s;
  -o-transition:      opacity 0.5s;
}

.sociality-linkedin:hover span {
  opacity: 1;
}